body {
    background-color: #e7c6ff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 50px;
}
/*selectores universales */
* {
    box-sizing: border-box;
}
/*selectores multiples */
h1,h2{
    color:black;
}
.album{
    background-color: aqua;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
}
.album img{
    color: brown;
}
/*parte de las frases*/
.frases{
    background-color: #ff4a4a;
    color:aliceblue;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
}
.block{
    display: block;
    background-color: blanchedalmond;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.inline {
    display: inline;
    background-color: #c77dff;
    padding: 5px;
    margin-right: 10px;
}


.inline-block {
    display: inline-block;
    background-color: #e0aaff;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

