@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e5e1e7; /* lila suave */
    color: #010001;
    margin-top:20px;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
/*titulo principal */
h1 {
    font-size: 60px;
    text-align: center;
}
/*selectores universales */

/*selectores multiples */
h1,h2{
    color:rgb(19, 6, 6);
    text-align: center;
}
.album {
    background-color: #ff6b00; /* naranja */
    padding: 20px;
    border-radius: 15px;
    margin: 30px;
    position: relative; /* para posicionar el botón dentro del contenedor */
}

.album h3 {
    color:#1b0505;
}

.album p {
    color: #330000;
}
.album::before {
    content: "NEW 🔥";
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}
.btn-fijo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
/*parte de las frases*/
.frases {
    background-color: #f4852a;
    padding: 30px;
    border-radius: 15px;
    margin: 30px;
}
.btn {
    background-color: #fbff8b;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit; /* HEREDA la fuente */
    transition: 0.3s;
}
.frase-destacada {
    background-color: #de941d;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}
/*selectores universales */
* {
    box-sizing: border-box;
}

.btn:hover {
    background-color: #fdff81;
    color: white;
}
.block{
    display: block;
    background-color: blanchedalmond;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.inline {
        display: inline-block;
    background-color: #f8fa7d;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}



.inline-block {
    display: inline-block;
    background-color: #e0aaff;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

